.main-login-admin {
    background-color: #2EA49E;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.box-container-login {
    background-color: white;
    height: 400px;
    width: 500px;
    border-radius: 6px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-container-login > h3 {
    margin-top: 10px;
    color: #2EA49E;
}

.form-container-login {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.container-input-login, .container-input-password {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.container-input-login > span, .container-input-password > span {
    font-weight: bold;
}

.button-acessar-painel-administrativo {
    background-color: #2EA49E;
    width: 100%;
}

@media (min-width: 768px) {
    .box-container-login > h3 {
        margin-top: 10px;
        font-size: 23px;
        color: #2EA49E;
    }

    .container-input-login > span, .container-input-password > span {
        font-weight: bold;
        font-size: 19px;
    }

    .login-input, .password-input {
        height: 40px;
    }

    .login-input::placeholder, .password-input::placeholder {
       font-size: 17px;
       color: #2EA49E; 
    }

    .button-acessar-painel-administrativo {
        height: 40px;
    }

    .box-container-login {
        background-color: white;
        height: 400px;
        width: 600px;
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.24);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}