.main-container-empresas {
    width: 100%;
    height: 100%;
}

.perguntas-frequentes-empresas {
    width: 100%;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
