.header-container-principal-mobile-publicar-vaga {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../assets/wave-haikei-mobile.png');
    height: 500px;
    position: relative;
}

.navegacao-container-mobile-publicar-vaga {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2EA49E;
    justify-content: space-between;
    padding: 10px;
}

.header-container-principal-mobile-publicar-vaga >h1  {
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
}

.string-animada-publicar-vaga {
    position: absolute;
    top: 45%;
    width: 60%;
    color: white;
    font-size: 17px;
    right: 70px;
    text-align: center;
}

@media (min-width: 768px) {
    .string-animada-publicar-vaga {
        display: none;
    }
}