.header-container-principal-desktop {
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url('../../assets/wave-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-container-principal-desktop>div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navegacao-container-desktop {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-para-empresas {
    color: white;
    text-decoration: none;
}

.link-para-empresas:hover {
    text-decoration: underline;
}

.article-container-header-principal-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    position: relative;
}

.article-container-header-principal-desktop > div {
    position: absolute;
    top: 100px;
    left: 30%;
}

.article-container-header-principal-desktop>div>h1 {
    color: white;
    font-size: 64px;
}

.article-container-header-principal-desktop>div>p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.img-entrevista {
    position: absolute;
    top: -50px;
    left: 65%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.281));
    height: auto;
    width: 400px;
    animation: float 2s infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
